@import "../media";

.main-money-out {
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
//   overflow-y: auto;
//   background-color: white;
//   box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
//   outline: none;
//   border: none;
//   padding: 20px;
//   border-radius: 15px;
}
