@import "../media";
.protected-main {
  width: 100%;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f9f9f9;
  z-index: 0;
  .left-protected {
    width: 15%;
    // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;

    .image-logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 0.5px dashed #1ba672;
      height: 18%;
      .header-logo {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .body-protected {
      height: 75%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      gap: 1px;
      .active-protected-list {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #1ba672;
        padding: 10px 20px;
        border-radius: 4px;
        color: white;
        cursor: pointer;
      }
      .inactive-protected-list {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 4px;
        color: black;
        cursor: pointer;
      
      }
       .inactive-protected-list:hover
       {
        color: #1ba672;
        cursor: pointer;
       }
    }
    .footer-protected {
      border-top: 0.5px dashed #1ba672;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7%;
      gap: 5px;
      cursor: pointer;
    }
  }
  .right-protected {
    width: 85%;
    padding: 30px;
    overflow-y: auto;

  }
}
