@import "../media";

.table-wrapper {
  border-radius: 0.5rem;
}

.table-container {
  height: auto;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: separate;
}

th,
td {
  border: none;
  padding: 1rem 2rem;
  text-align: start;
}

th {
  background-color: #e9f6ec;
  color: #33ab4d;
  font-size: 16px;
  font-weight: 400;
}

tbody {
  tr:nth-of-type(even) {
    background-color: #e9f6ec;
  }
}
