@import './components/fonts/Font.scss';
@import './components/auth/Login.scss';
@import './components/images/Images.scss';
@import './components/forms/Form.scss';
@import './components/Icon/Icon.scss';
@import './components/button/Button.scss';
@import './components/text/Text.scss';
@import './components/auth/Signup.scss';
@import './components/commoncss/Commoncss.scss';
@import './components/Protected.scss';
@import './components/MoneyOut.scss';
@import './components/UiLayout.scss';
@import './components/commoncss/InputSearchbox.scss';
@import './components/Table.scss';

