@import '../../media';

input {
    width: 100%;
    padding: 11px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

label{
    font-size: 15px;
    color: #b2b2b2;
}

.label{
    font-size: 15px;
    color: #b2b2b2;
}

::placeholder
{
    font-size: 15px;
    color: #b2b2b2;
}

.cursor
{
    cursor: pointer;
}