@import '../../media';

.login-btn {
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    background-color: #1ba672;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 500;

}