@import '../../media';

.xs {
    font-size: 18px;
}

.sm {
    font-size: 20px;
}

.md {
    font-size: 22px;
}

.lg {
    font-size: 24px;
}

.xl {
    font-size: 26px;
}

.xxl {
    font-size: 28px;
}

.xxxl {
    font-size: 32px;
}

//font weight

.fw-xs {
    font-weight: 400;
}

.fw-sm {
    font-weight: 500;
}

.fw-md {
    font-weight: 600;
}

.fw-lg {
    font-weight: 700;
}

.fw-xl {
    font-weight: 800;
}

.fw-xxl {
    font-weight: 900;
}